@import "../../../sass/variables";

.signUpContainer {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  width: 100%;
  .signUpInputs {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    h2 {
      margin: 0;
    }
  }
  .signUpButtons {
  }
  .offscreen {
    display: none;
  }
}
